
:root {
    --cursor-default: url(assets/cursor.png), auto;
    --cursor-pointer: url(assets/pointer.png), auto;
}

html {
    cursor: var(--cursor-default);
    font-size: 10px;
}

a, button, input[type="checkbox"], input[type="radio"], input[type="submit"] {
    cursor: var(--cursor-pointer);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #afba9f;
    border: 5px solid #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


nav {
    text-align: right;

}

img {
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
}

a {
    display: inline-flex;
    align-items: center;
    color:whitesmoke; 
    font-size: 15px;
    font-weight: 500;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 30px;   
}

a::before {
    content: "";
    background-color: #ce5260;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}
span {
    background-color: #ce5260;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}





