.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 0px #FFFFFFFF;
    background-color: #afba9f;
    width: 280px;
    height: 280px;
}

.section-card  {
    background-color: black;
}

