
.main-title{
    font-family: "Press Start 2P", serif;
    font-size: 30px;
    color: #ce5260;
    text-shadow: 4px 4px 0 #000;
    
}

    
.main-title.-second{
    text-shadow: none;
    text-align: center;
    color: #fff;
    font-family: "Press Start 2P", serif;
    font-size: 30px;
    text-shadow: 1px 1px 0; 
}